/* general */
*{
    box-sizing: border-box;
}
body{
	font-family: sans-serif;
	padding: 0;
	margin: 0;
}
small{
	display: block;
}
h1{
	margin-top: 0;
    margin-bottom: 0.1rem;
    font-size: 3.25rem;
}
h1,h2,h3,h4,h5,h6{
    color: #4a4a4a;
}
#title-list, #title-create{
	color: #159957;
}
#title-header{
	color: #fff;
}
h3{
	opacity: 0.7;
	margin-bottom: 5px;
}
li{
	color: #4c4c4c;
}
.page-header{
	padding: 5rem 6rem;
	color: #fff;
    text-align: center;
    background-color: #159957;
    background-image: linear-gradient(120deg,#155799,#159957);
}
.main-content{
    width: 100%;
    padding: 2rem 6rem 0px;
    font-size: 1.1rem;
}



/* cambios de estilos si es un celular o tablet */
@media screen and (max-width: 46em){
	h1 {
	    font-size: 1.75rem;
	}
	.page-header{
		padding: 2rem 1rem;
	}
	.main-content{
		padding: 2rem 1rem;
	}
	p{
		font-size: 1rem!important;
	}
	#upload{
		top: 0!important;
    	right: 0!important;
    	height: auto!important;
    	width: 100%!important;
    	max-width: auto!important;
	}
}	




/* ayudas */
.inline{
	display: inline-block;
}
.none{
	display: none!important;
}
.full{
	width: 100% !important;
	padding: 0px!important;
}
.center{
	margin: 0 auto;
}
.center img{
	box-shadow: 0 0 4px rgba(0,0,0,.14), 6px 6px 9px rgba(0,0,0,.28);
    width: 100%;
    max-width: 450px;
    margin: 0 auto;
    display: block;
}
.center a {
	color: #0366d6;
    cursor: pointer;
    text-decoration: none;
}
.center a:hover{
	text-decoration: underline;
}
.text-center{
	text-align: center;
}
.head-notice {
	color: #4a4a4a;
}
.head-notice span{
	display: block;
}
.head-notice span b {
	color: #159957;
}




/* botones */
.btn{
	background-color: transparent;
	border-radius: 2px;
	border: 1.8px solid #ccc;
	text-decoration: none;
	color: inherit;
	cursor: pointer;
	font-size: larger;
	padding: 0.3rem;
	display: inline-block;
}
.btn:hover{
	background-color: #ccc;
}
/* rojo */
.btn-danger{
	border-color: #d9534f;
	color: #d9534f;
}
.btn-danger:hover{
	border-color: #d9534f;
	background-color: #d9534f;
	color: #fff
}
/* azul */
.btn-primary{
	border-color: #0275d8;
	color: #0275d8;
}
.btn-primary:hover{
	border-color: #0275d8;
	background-color: #0275d8;
	color: #fff
}
/* naranja */
.btn-warning{
	border-color: #f0ad4e;
	color: #f0ad4e;
}
.btn-warning:hover{
	border-color: #f0ad4e;
	background-color: #f0ad4e;
	color: #fff
}
/* verde */
.btn-success{
	border-color: #449d44;
	color: #449d44;
}
.btn-success:hover{
	border-color: #449d44;
	background-color: #449d44;
	color: #fff
}
/* volver */
.back{
	color: #0366d6;
	cursor: pointer;
	display: block;
    margin-top: 20px;
}
.back:hover{
	text-decoration: underline;
}




/* inputs */
input[type='text'], input[type='email'], input[type='file']{
	background-color: #fff;
	border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px;
    width: 100%;
    display: block;
    margin-bottom: 10px;
    max-width: 300px;
    font-size: 17px;
}
input[type='submit']{
	cursor: pointer;
}




/* cargador de imagenes */
#upload{
    position: fixed;
    background-color: #323232;
    z-index: 10;
    padding: 20px 20px 20px;
    top: 26px;
    right: 26px;
    height: auto;
    width: 40%;
    max-width: 300px;
    box-shadow: 0 0 4px rgba(0,0,0,.14), 6px 6px 9px rgba(0,0,0,.28);
    color: #00baf5;
}
#upload input{
	background-color: #ddd;
	border-radius: 0px;
}
#upload input[type='file']{
    margin: 0 auto;
    border: 0px;
    color: #ddd;
}
#upload progress{
	width: 100%;
}
#upload .copy{
	cursor: pointer;
	border: 1.8px solid #00baf5;
    border-radius: 50%;
    padding: 10px;
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;
    z-index: 9;
    background-color: #323232;
}
#upload .copy:hover{
	background-color: #00baf5;
	color: #323232;
}
#upload .close{
    float: right;
    margin: 0 0 10px 0;
    cursor: pointer;
}
#fondo{
	min-height: 42px;
	width: 100%;
	z-index: 2;
}
.shadow{
	background: linear-gradient(to bottom, rgba(0,0,0,0.2) 0%,rgba(0,0,0,0) 100%);
    width: 100%;
    position: absolute;
    height: 100%;
    z-index: 3;
}




/* listados */
li:hover{
	cursor: pointer;
}
ul p:hover{
	color: #155b96;
}
p{
	color: #4a4a4a;
	font-size: 22px;
}
.actions{
	padding: 15px 0 10px 0;
}




/* footer */
.social{
	width: 70px;
	height: 40px;
	margin: 0 auto;
	display: block;
}
.footer-link{
	margin: 0 auto;
	display: inline-block;
	float: left;
	margin-bottom: 8px;
	margin-right: 5px;
	width: 30px;
}
.footer-link > img{
	width: 30px;
}
footer h3 {
	color: inherit;
}




/* crear noticia */
.create{
	background-color: #d23f31;
    height: 56px;
    width:  56px;
    box-shadow: 0 0 4px rgba(0,0,0,.14), 0 4px 8px rgba(0,0,0,.28);
    cursor: pointer;
	bottom: 0px;
	right: 0px;
    margin: 0px 28px 24px 0px;
	position: fixed;
	border-radius: 50%;
}
.create img{
    left: 0;
    margin-left: 16px;
    margin-top: 16px;
    position: absolute;
    top: 0;
  	-webkit-transition: -webkit-transform .4s ease-in-out;
  	        transition:         transform .4s ease-in-out;
}
.create img:hover{
  	-webkit-transform: rotate(360deg);
  	        transform: rotate(360deg);
};