body{
	font-family: sans-serif;
}
small, input{
	display: block;
}
section{
    float: left;
    display: inline-block;
    margin-bottom: 60px;
}
#list{
    width: calc(60% - 20px);
    padding: 10px;
}
#create{
    width: calc(40% - 20px);
    padding: 10px;
}
.inline{
	display: inline-block;
}
.none{
	display: none;
}
.full{
	width: 100% !important;
}
.center{
	margin: 0 auto;
	max-width: 800px;
}
.text-center{
	text-align: center;
}

/* botones */
.btn{
	background-color: transparent;
	border-radius: 2px;
	border: 1.8px solid #ccc;
	text-decoration: none;
	color: inherit;
	cursor: pointer;
	font-size: larger;
	padding: 0.3rem;
	display: inline-block;
}
.btn:hover{
	background-color: #ccc;
}
/* btn-danger */
.btn-danger{
	border-color: #d9534f;
	color: #d9534f;
}
.btn-danger:hover{
	border-color: #d9534f;
	background-color: #d9534f;
	color: #fff
}
/* btn-primary */
.btn-primary{
	border-color: #0275d8;
	color: #0275d8;
}
.btn-primary:hover{
	border-color: #0275d8;
	background-color: #0275d8;
	color: #fff
}
/* btn-warning */
.btn-warning{
	border-color: #f0ad4e;
	color: #f0ad4e;
}
.btn-warning:hover{
	border-color: #f0ad4e;
	background-color: #f0ad4e;
	color: #fff
}
/* btn-success */
.btn-success{
	border-color: #449d44;
	color: #449d44;
}
.btn-success:hover{
	border-color: #449d44;
	background-color: #449d44;
	color: #fff
}

/* section crear */
form{
	max-width: 250px;
}
input, textarea{
	padding: 0.3rem;
	font-size: 14px;
	margin-bottom: 5px;
	border-radius: 2px;
	border: 1.8px solid #ccc;
}
textarea{
	min-height: 80px;
}
input[type='text'], input[type='email'], input[type='file'], textarea, progress{
	width: 100%;
}
input[type='submit']{
	cursor: pointer;
}

/* section listado */
ul{
	padding-right: 10px;
}
li:hover{
	cursor: pointer;
}
ul p:hover{
	color: #4d4ed8;
}
p{
	margin: 8px 0 20px;
	font-size: 16px;
}
.actions{
	padding: 15px 0 10px 0;
}

/* footer */
.logo-footer{
	bottom: 10px;
	right: 10px;
	position: fixed;
}
.logo-footer img {
	width: 30px;
}